<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Расписание</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
	<div class="container mt-3 col-md-10 text-center" id="table-wrapper">
        <div class="col-auto text-center">
            <div class="row">
                <form action="" method="post">
                    <div class="form-group">
                        <button type="submit" class="btn btn-light">Следующий шаг</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% for group_id, slots in timeslots.items() %}
            <div col="col-3">
                <ul class="list-group text-left">
                    <li class="list-group-item py-1"><strong>Группа {{ group_id }}:</strong></li>
                        {% for row in slots %}
                            <li class="list-group-item py-0">{{ row }}</li>
                        {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="row overflow-x-auto">
            {% for room_id, timeslots in room_timeslots.items() %}
            <div col="col-3">
                <ul class="list-group text-left">
                    <li class="list-group-item py-1"><strong>Аудитория {{ room_id }}:</strong></li>
                        {% for row in timeslots %}
                            <li class="list-group-item py-0">{{ row }}</li>
                        {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="row mt-4">
            <div class="col-3" id="teacher-state-wrapper">
                <ul class="list-group text-left">
                    <strong>Состояния преподавателей:</strong>
                {% for state in states %}
                    <li>{{ state.name }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-7 overflow-auto" id="message-log-wrapper">
                <ul class="list-group text-left">
                {% for message in message_log | reverse %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
	</div>
</body>

</html>