<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Расписание {{ timetable["group_name"] }}</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
	<div class="container mt-3 col-md-10 text-center" id="main-wrapper">
        <div class="row justify-content-center" id="timetable-title">
            <h1><strong>Расписание группы {{ timetable["group_name"] }}</strong></h1>
        </div>
        <hr>

        <div class="row" id="timetable-body">
            {% for week_name, week_info in timetable.items() %}
                {% if not (week_info is string) %}
                <div class="col">
                    <h2>{{ week_name }}</h2>
                    {% for day_name, day_info in week_info.items() %}
                    <table class="table">
                        <tbody>
                            {% set slot_count = day_info.items() | length %}
                            {% for slot_name, slot_info in day_info.items() %}
                            <tr>
                            {% if loop.first %}
                                <td rowspan="{{ slot_count }}" class="align-middle">{{ day_name }}</td>
                            {% endif %}
                            <td>{{ slot_name }}</td>
                            <td>
                            {% if slot_info is string %}
                                {{ slot_info }}
                                {% else %}
                                {{ slot_info[0] }}, {{ slot_info[1] }}, ауд. {{ slot_info[2] }}
                                {% endif %}
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
	</div>
</body>

</html>