<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Расписание {{ timetable["group_name"] }}</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
	<div class="container mt-3 col-md-10 text-center" id="main-wrapper">
        <div class="row justify-content-center" id="timetable-title">
            <h1><strong>Расписание группы {{ timetable["group_name"] }}</strong></h1>
        </div>

        <div class="row" id="timetable-body">
            {% for week_name, week_info in timetable.items() %}
                <div class="col">
                    <h2>{{ week_name }}</h2>

                    <tbody>
                    {% for day_name, day_info in week_info.items() %}
                        <tr>{{ day_name }}</tr>
                        <tr>
                            {% for slot_name, slot_info in day_info.items() %}
                                <td>{{ slot_name }}</td>
                                <td>
                                    {%  %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </div>
            {% endfor %}
        </div>
	</div>
</body>

</html>